/*  work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap')


*
/* shared styles */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

*{
    box-sizing: border-box;
}

.nav-container{
    display: flex;
    width: 1920px;
    height: 130px; 
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    align-items: center;
}
.logo-container{
    display: flex;
    width: 50%;
    padding-left: 240px;
}
.logo-container img{
    width: 86px;
    height: 40px;
    margin-top: 44px;
}
    
.logo-container p{
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 38px;

}
.g-section{
    color: hotpink;
}
.nav-items-container{
    width: 50%;
    display: flex;
    justify-content: center;
}
.nav-items-container > ul {
    display: flex;
}
.nav-items-container li{
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
}
.nav-items-container a{
    text-decoration: none;
    color: #3C354F; 
}
.follow-btn{
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    color: #0B0223;
}

/* responsive media queries */
/* mobile devise */
@media screen and (max-width:425px) {
    .nav-container {
        width: 15%;
        flex-direction: column;
    }
    .nav-items-container{
        flex-direction: column;
    }
    
}
    